@import url("https://fonts.googleapis.com/css2?family=DM+Sans:opsz,wght@9..40,400;9..40,700&display=swap");

* {
  font-family: "DM Sans", sans-serif;
  font-size: 18px;
}

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  /* Transaction Amount */
  .bar::after {
    content: attr(data-amount);
    @apply p-1 lg:px-2 bg-black/80 rounded-sm lg:rounded-md text-white text-[.65rem] lg:text-xs absolute left-1/2 -translate-x-1/2 bottom-[calc(.5rem+var(--height))] opacity-0 transition-opacity duration-200;
  }

  .transaction:is(:hover, :focus) .bar::after {
    @apply opacity-100;
  }

  /* Transaction Bar */
  .bar::before {
    content: "";
    @apply bg-primary rounded-sm lg:rounded-md inline-block w-full h-[var(--height)] transition-all duration-500;
  }

  .transaction:is(:hover, :focus) .bar::before {
    @apply opacity-60;
  }

  .bar.bar-largest::before {
    @apply bg-secondary;
  }
}
